.modal {
    &-wrapper {
    }
    position: absolute;
    top: 75%;
    left: 250px;
    z-index: 100;
    max-width: calc(350px + 760px);
    display: flex;
    box-shadow: 0 0 30px 2px rgba($clr_txt_black, 0.2);

    & .left-side {
        background-image: url(../assets/bg_from.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 350px;
        height: 520px;
    }

    & .right-side {
        background-color: $clr_txt_white;
        display: flex;
        flex-direction: column;
        max-width: 760px;

        & > div {
            margin-top: 70px;
            margin-bottom: 32px;
            margin-left: 108px;
            margin-right: 108px;
        }

        & .header-title {
            margin: 0;
            margin-right: auto;
            font-size: 26px;
            line-height: 1.15;
            color: $clr_txt_black;
            margin-left: auto;
        }

        & .header-sub-title {
            font-size: 36px;
            margin: 0;
            margin-top: 30px;
            margin-left: auto;
            margin-right: auto;
            color: $clr_txt_black;
            text-transform: uppercase;
            line-height: 0.83;
        }

        & .input-fields {
            margin-top: 80px;
            margin-bottom: 80px;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            gap: 40px 30px;
            grid-template-areas:
                ". . ."
                ". . .";

            & fieldset {
                position: relative;
            }

            & input {
                outline: none;
                border: none;
                border-bottom: 1px solid $clr_txt_black;
                padding-left: 0;
                padding-right: 0;
                padding-bottom: 13px;
            }
        }

        & .icon-arrow,
        & .icon-date,
        & .icon-clock {
            position: absolute;
            right: 0;
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            cursor: pointer;
        }

        & .icon-arrow {
            top: 30%;
            background-image: url("../assets/icon_down.png");
            width: 8px;
            height: 5px;
        }

        & .icon-date {
            top: 15%;
            background-image: url("../assets/date.png");
            width: 13px;
            height: 15px;
        }

        & .icon-clock {
            top: 15%;
            width: 15px;
            height: 16px;
            background-image: url("../assets/time_icon.png");
        }

        & .main-btn {
            display: block;
            margin: 0;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1280px) {
    .modal {
        left: 15%;
        max-width: 100%;

        & .right-side {
            & > div {
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 1200px) {
    .modal {
        left: 0;
        max-width: 100%;

        & .right-side {
            & > div {
                margin-left: 15px;
                margin-right: 15px;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .modal {
        display: none;
    }
}
